<div class="block"> 
	<!-- image + text -->
	<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" id="backgroundTable" width="100%">
		<tbody>
			<tr>
				<td><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="devicewidth" style="border-bottom:1px solid #8cbe24;" width="760">
						<tbody>
							<tr>
								<td height="60">&nbsp;</td>
							</tr>
							<tr>
								<td><table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner" width="760">
										<tbody>
											<!-- content -->
											<tr>
												<td style="color: #494848; font-family: Verdana, Arial, sans-serif; font-size: 14px; line-height: 24px;">[[introduction]]</td>
											</tr>
											<!-- end of content -->
											<!-- Spacing -->
											<tr>
												<td height="60">&nbsp;</td>
											</tr>
											<!-- Spacing -->
										</tbody>
									</table></td>
							</tr>
						</tbody>
					</table></td>
			</tr>
		</tbody>
	</table>
</div>